.featured {
    padding: 6vh 12vw;

    .heading {
        h4 {
            color: var(--secondary-color);
        }

        .see-all {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            h1 {
                margin: 12px 0 20px;
                max-width: 40vw;
            }

            .more {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 400;
                color: var(--text-color);
                width: 84px;
                
                &:hover .icon {
                    display: block;
                }

                .icon {
                    color: var(--primary-color);
                    margin-left: 0.4vw;
                    animation: slideIn ease-in 0.4s;
                    display: none;
                }
            }
        }
    }

    .featured-projects {
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 2vh 0;
            padding: 0 0.8vw;

            &:first-child {
                padding-left: 0;
            }

            &:nth-child(4) {
                padding-right: 0;
            }

            .project-wrapper {
                width: 270px;

                .project {
                    img {
                        width: 270px;
                        height: 270px;
                    }

                    .info {
                        padding: 8px 0;

                        .description, .current-price {
                            font-size: 1.4rem;
                        }
                
                        .name {
                            margin: 6px 0;
                            font-size: 1.6rem;
                        }
                
                        .target-price {
                            margin-top: 30px;
                            font-size: 2rem;
                        }
                    }
                }

                .donate-btn {
                    font-size: 1.4rem;
                    line-height: 1.3rem;
                    bottom: 6px; 
                    right: 0px;
                    padding: 3px 8px;
                    border: 3px solid var(--secondary-color);
                }
            }
        }

        
    }

    .discover-btn {
        display: none;
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {
    .featured {
        .featured-projects {
            li {
                .project-wrapper {
                    width: 360px;

                    .project {

                        img {
                            width: 360px;
                            height: 360px;
                        }
                    }

                    .donate-btn {
                        font-size: 1.6rem;
                        line-height: 1.6rem;
                        padding: 4px 10px;
                        border: 4px solid var(--secondary-color);
                    }
                }
            }
        }
    }
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .featured {
        padding: 6vh 2vw;

        .heading {
            .see-all {
                h1 {
                    max-width: 60vw;
                }

                .more {
                    .icon {
                        display: block;
                    }
                }
            }
        }

        .featured-projects {
            justify-content: space-between;

            li {
                margin: 2.5vh 0;
                
                &:nth-child(odd) {
                    padding-left: 0;
                }

                &:nth-child(even) {
                    padding-right: 0;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .featured {
        padding: 6vh 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            .see-all {
                h1 {
                    max-width: 100%;
                }

                .more {
                    display: none;
                }
            }
        }

        .featured-projects {
            justify-content: center;
            
            li {
                margin: 3vh 0;
                padding: 0;

                .project-wrapper {
                    .donate-btn {
                        bottom: 3px;
                    }
                }
            }
        }

        .discover-btn {
            color: black;
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border-radius: 20px;
            border: 3px solid var(--primary-color);
            margin-top: 40px;
        }
    }
}
