.project-edit {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    ::-webkit-scrollbar-thumb {
        background: white;
    }

    .edit-form {
        position: relative;
        z-index: 100;
        background-color: black;
        color: white;
        border-radius: 10px;
        height: 88vh;
        width: 42vw;
        overflow-y: scroll;
        overflow-x: hidden;

        .edit-header {
            position: sticky;
            top: 0;
            height: 72px;
            width: 42vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 101;
            
            .blur-bg {
                background-color: rgba(0, 0, 0, 0.65);
                height: 72px;
                width: 42vw;
                backdrop-filter: blur(12px);
            }

            .header-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 1vw;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-heading {
                    display: flex;
                    align-items: center;
                    color: white;
    
                    .icon {
                        font-size: 3.5rem;
                        margin-right: 20px;
                        cursor: pointer;
                        padding: 6px;
                        border-radius: 20px;

                        &:hover {
                            background-color: rgba(239, 243, 244, 0.1);
                        }
                    }
    
                    h3 {
                        font-size: 2.2rem;
                        font-weight: 500;
                    }
                }

                .save-btn {
                    background-color: white;
                    color: black;
                    height: fit-content;
                    border-radius: 20px;
                    font-weight: 500;
                    padding: 4px 12px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(215,219, 220);
                    }
                }
            }
        }

        .project-img-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;

            .project-img {
                width: 100%;
                height: 40vh;
                object-fit: cover;
                -webkit-user-drag: none;
                background-color: var(--primary-color);
                border-left: 4px solid black;
                border-right: 4px solid black;
            }

            .btn-container {
                position: absolute;
                display: flex;
                align-items: center;
                
                .edit-project-img-btn {
                    display: flex;
                    align-items: center;
                    padding: 12px 10px;
                    background-color: rgba(15, 20, 25, 0.75);
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
    
                    svg {
                        width: 28px;
                        height: 24px;
                        fill: white;
                    }

                    .icon {
                        color: white;
                    }
    
                    &:hover {
                        background-color: rgba(39, 44, 48, 0.75);
                    }

                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }

        }

        .info-container {
            padding: 20px 1vw 40px;

            .input-group {
                display: flex;
                flex-direction: column;
    
                label {
                    position: relative;
                    margin-top: 28px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .tag {
                        position: absolute;
                        top: 15px;
                        right: 12px;
                        font-weight: 600;
                        padding: 4px 8px;
                        background-color: #f1f1f1;
                        border-radius: 20px;
                        line-height: 1.8rem;
                        width: 48px;
                    }
                    
                    .amount-input {

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    .placeholder-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: absolute;
                        left: 4px;
                        right: 4px;
                        color: #ccc;

                        .placeholder {
                            padding: 0 4px;
                            background-color: black;
                            transition: top ease-out 0.2s;
                        }
        
                        .is-focus {
                            color: var(--primary-color);
                        }

                        .quantity {
                            font-size: 1.2rem;
                            line-height: 1.2rem;
                            color: #ccc;
                            font-weight: 300;
                        }
                    }
    
                    .active {
                        color: white;
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        top: 6px;
                    }

                    input {
                        height: 56px;
                    }
    
                    .edit-input {
                        font-size: 1.6rem;
                        width: 100%;
                        padding: 0 8px;
                        color: white;
                        border-radius: 5px;
                        border: none;
                        outline: 1px solid rgb(51, 54, 57);
                        background-color: transparent;
                        font-family: inherit;
    
                        &:focus {
                            outline: 2px solid var(--primary-color);
                        }
                    }

                    .input-has-value {
                        padding: 24px 8px 0;
                    }

                    .amount-has-value {
                        padding: 24px 60px 0 12px;
                    }
    
                    .error-msg {
                        color: red;
                        font-size: 1.2rem;
                    }

                    textarea {
                        font-family: inherit;
                        font-weight: 300;
                        height: unset;
                    }
                }

                .category-label {
                    flex-direction: column;
                    margin-top: 30px;
                    align-items: flex-start;
                    color: white;

                    .selection {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-top: 16px;
                        color: white;
    
                        .option {
                            padding: 8px 12px;
                            border: 1px solid rgb(51, 54, 57);
                            border-radius: 20px;
                            margin-right: 8px;
                            font-weight: 300;
                            line-height: 2rem;
    
                            &:hover {
                                margin-left: 0;
                            }
                        }
    
                        .active {
                            color: var(--primary-color);
                            font-size: 1.6rem;
                            border-color: var(--primary-color);
                            background-color: rgba($color: #febebe, $alpha: 0.25);
                        }
                    }
                }

                .checkbox-container {
                    cursor: pointer;
                    
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    
                    .checkmark {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        height: 14px;
                        width: 14px;
                        border-radius: 3px;
                        border: 1px solid black;
                        background-color: white;
                        
                        .icon {
                            position: absolute;
                            top: -3px;
                            left: -4px;
                            color: black;
                            font-size: 1.9rem;
                        }
                    }
    
                    input:checked ~ .checkmark {
                        background-color: var(--primary-color);
                    }
                    
                    .title {
                        color: white;
                        margin-left: 24px;
                    }
                }

                .tips {
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    color: white;
                    margin-top: 4px;
                }

                .is-paid {
                    color: white;
                    margin-top: 20px;
                }

                .payment-section {
                    margin-top: 60px;
                }
            }
        }

        .project-img-edit-section {
            width: 42vw;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .cropper {
                width: 38vw;
                height: fit-content;
            }
        }
    }
}