.guidance {
    width: 100%;
    padding: 20px;
    margin-top: 16px;
    outline: 1px solid #ccc;
    border-radius: 5px;
    user-select: none;
    
    h5 {
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    .guidance-text {
        display: flex;
        align-items: center;
        margin-left: 12px;
        margin-top: 8px;

        .icon {
            font-size: 0.6rem;
            margin-right: 12px;
        }

        .check-icon {
            margin-right: 12px;
        }
    }

    .pass {
        color: green;
    }
}