.start-fundraising {
    display: flex;
    align-items: center;
    background-color: rgba($color: #febebe, $alpha: 0.25);

    .left {
        height: 100vh;
        width: 34vw;
        padding: 8vh 3vw;

        .back-btn {
            background-color: white;
            padding: 4px 16px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            border: none;
            outline: 1px solid#ccc;
            cursor: pointer;

            .icon {
                font-size: 1.6rem;
                margin-right: 8px;
            }

            &:hover {
                background-color: #f9f9f9;
            }
        }

        h1 {
            font-size: 2.9rem;
            line-height: 3.9rem;
            font-weight: 400;
            margin: 18vh 0 4vh;
        }

        .desc {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2.3rem;
        }
    }

    .right {
        height: 100vh;
        width: 66vw;
        background-color: white;
        border-top-left-radius: 60px;
        box-shadow: 1.8rem 0.25rem 3.5rem var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh 12vw 4vh;
        overflow: scroll;

        nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .sign-in-btn {
                color: var(--text-color);
                align-self: flex-end;
                margin-right: -4vw;
                padding: 12px 18px;
                border: none;
                border-radius: 10px;
                background-color: white;
                font-weight: 300;
                cursor: pointer;

                &:hover {
                    background-color: #f8f8f8;
                }
            }
        }


        .create-form {
            width: 100%;
            padding-top: 6vh;

            label {
                position: relative;
                margin-top: 28px;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                .tag {
                    position: absolute;
                    top: 15px;
                    right: 12px;
                    font-weight: 600;
                    padding: 4px 8px;
                    background-color: #f1f1f1;
                    border-radius: 20px;
                    line-height: 1.8rem;
                    width: 48px;
                }

                .placeholder-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: absolute;
                    left: 4px;
                    right: 8px;
                    color: #ccc;

                    .placeholder {
                        padding: 0 8px;
                        background-color: white;
                        transition: top ease-out 0.2s;
                    }
    
                    .is-focus {
                        color: var(--primary-color);
                    }

                    .quantity {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        color: var(--primary-color);
                        font-weight: 300;
                    }
                }

                .t-12 {
                    top: 12px;
                }

                .active {
                    color: black;
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    top: 6px;
                }
                
                .edit-input {
                    height: 56px;
                    font-size: 1.6rem;
                    width: 100%;
                    padding: 0 12px;
                    color: var(--text-color);
                    border-radius: 10px;
                    border: none;
                    outline: 1px solid #ccc;
                    background-color: transparent;
                    font-family: inherit;

                    &:focus {
                        outline: 1px solid var(--primary-color);
                    }

                    &::placeholder {
                        color: #ccc;
                    }
                }

                .amount-input {

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .input-has-value {
                    padding: 24px 12px 0;
                }

                .amount-has-value {
                    padding: 24px 60px 0 12px;
                }

                .error-msg {
                    color: red;
                    font-size: 1.2rem;
                    margin-top: 4px;
                }

                textarea.edit-input {
                    font-family: inherit;
                    font-weight: 300;
                    height: unset;
                }
            }

            .image-label {
                display: flex;
                margin-top: 60px;

                .title {
                    margin-bottom: 8px;
                }

                .choose-file {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-top: 25px;

                    .img-name {
                        width: 75%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: end;
                    }

                    .upload-btn {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: var(--primary-color);
                        border: 4px solid var(--secondary-color);
                        border-radius: 20px;
                        padding: 4px 10px;
                        width: fit-content;
                        color: white;
                        font-weight: 500;
                        margin-left: auto;
                        cursor: pointer;
                        margin-top: 0;
    
                        .icon {
                            margin-right: 8px;
                        }
                    }
                }


                .preview-img {
                    width: 100%;
                    height: 45vh;
                    object-fit: contain;
                    margin-top: 30px;
                }
            }

            .category-label {
                flex-direction: column;
                margin-top: 60px;
                align-items: flex-start;

                .selection {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 16px;

                    .option {
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 20px;
                        margin-right: 8px;
                        font-weight: 300;
                        line-height: 2rem;

                        &:hover {
                            margin-left: 0;
                        }
                    }

                    .active {
                        font-size: 1.6rem;
                        border-color: var(--primary-color);
                        background-color: rgba($color: #febebe, $alpha: 0.25);
                    }
                }
            }

            .target-amount {
                margin-top: 60px;
            }

            .checkbox-container {
                cursor: pointer;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .checkmark {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    height: 14px;
                    width: 13.5px;
                    border-radius: 3px;
                    border: 1px solid black;
                    background-color: white;

                    .icon {
                        position: absolute;
                        top: -3.5px;
                        left: -4px;
                        color: black;
                        font-size: 1.9rem;
                    }
                }

                input:checked ~ .checkmark {
                    background-color: var(--primary-color);
                }

                .title {
                    margin-left: 24px;
                }
            }

            .tips {
                font-size: 1.3rem;
                line-height: 1.6rem;
                color: #767676;
                margin-top: 4px;
            }

            .payment-section {
                margin-top: 60px;
            }

            .is-paid {
                margin-top: 40px;
                font-weight: 500;
            }

            .btn-container {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin: 100px 0 20px;

                .create-btn {
                    border: none;
                    background-color: var(--primary-color);
                    padding: 6px 20px;
                    border-radius: 30px;
                    font-weight: 600;
                    cursor: pointer;
                    border: 3px solid var(--primary-color);
    
                    &:hover {
                        background-color: white;
                    }
                }

                .disabled {
                    background-color: #ccc;
                    border-color: #ccc;
                    cursor: default;

                    &:hover {
                        background-color: #ccc;
                    }
                }
            }

        }
    }
}