.project-wrapper {
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    color: var(--text-color);
    width: 320px;
    // height: 450px;

    &:hover {
        // box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        // transform: translateY(-4px);

        & .donate {
            color: var(--text-color);
            // border-color: transparent;
            background-color: white;
        }

        & .disable {
            color: var(--text-color);
            background-color: #ccc;
        }
    }

    .project {
        color: var(--text-color);

        img {
            width: 320px;
            height: 320px;
            object-fit: cover;
            -webkit-user-drag: none;
        }
    
        .info {
            padding: 10px 0;
    
            .description {
                color: var(--secondary-color);
                // font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .name {
                margin: 8px 0;
                font-size: 1.8rem;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            .target-price {
                margin-top: 40px;
                font-size: 2.2rem;
                font-weight: 600;
                color: var(--primary-color);
            }
        }
    }

    .donate {
        position: absolute;
        line-height: 1.6rem;
        bottom: 4px; 
        right: 8px;
        padding: 4px 10px;
        color: black;
        background-color: var(--primary-color);
        border-radius: 20px;
        border: 4px solid var(--secondary-color);
        cursor: pointer;
        font-weight: 500;
        word-spacing: 1px;
        user-select: none;
    }

    .disable {
        cursor: default;
        border-color: transparent;
        color: var(--text-color);
        background-color: #ccc;
        user-select: none;
        outline: none;
    }
}

// Tablet & mobile
@media (max-width: 63.9375em) {
    .project-wrapper {
        &:hover {
            box-shadow: none;
            transform: translateY(0);

            & .donate {
                color: white;
                background-color: var(--primary-color);
                outline: none;
                border-color: var(--primary-color);
                font-weight: 400;
            }
        }
    }
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .project-wrapper {
        .project {
            
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .project-wrapper {
        .project {
            
        }
    }
}