.dropdown-search {
    .searchbar-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 60vh;
        background-color: white;
        z-index: 3;
        display: flex;
        justify-content: center;
        // transform: translateY(-100%);
        transition: fadeIn linear 0.3s;
    
        .searchbar {
            position: relative;
            width: 60vw;
            height: fit-content;
            display: flex;
            align-items: center;
            margin-top: 4vh;
            
            .search-input {
                font-size: 1.6rem;
                line-height: 1.6rem;
                width: 60vw;
                height: 50px;
                padding: 12px 50px;
                border-radius: 30px;
                border: 2px solid black;
            }
    
            .icon {
                position: absolute;
                font-size: 1.8rem;
                left: 20px;
            }
    
            .erase-icon {
                position: absolute;
                font-size: 2.2rem;
                right: 16px;
            }
        }
    
        .cancel-btn {
            position: absolute;
            font-weight: 600;
            right: 3vw;
            top: calc(4vh + 15px);
            cursor: pointer;
        }
    }
    
    .search-overlay {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: black, $alpha: 0.5);
        // animation: fadeIn linear 0.3s;
        z-index: 2;
    }
}