.main-banner {
    background-image: url(../../../assets/img/main-banner1.jpg);
    background-size: cover;
    height: 90vh;
    width: 100vw;
    position: relative;

    .desc {
        position: absolute;
        top: 35%;
        left: 8%;

        h1 {
            font-size: 6rem;
            line-height: 6.4rem;
            color: black;
        }

        .donate-btn {
            padding: 8px 20px;
            margin-top: 40px;
            margin-right: 12px;
            border-radius: 30px;
            font-weight: 600;
            color: white;
            background-color: var(--primary-color);
            border: 2px solid var(--primary-color);

            &:hover {
                color: var(--primary-color);
                background-color: white;
                cursor: pointer;
            }
        }

        .discover-btn {
            padding: 8px 20px;
            margin-top: 40px;
            margin-right: 12px;
            border-radius: 30px;
            // font-weight: 600;
            color: var(--text-color);
            background-color: white;
            border: none;

            &:hover {
                background-color: #e5e5e5;
                cursor: pointer;
            }
        }
    }
}

.banner1 {
    position: relative;
    padding: 6vh 12vw;

    .heading {
        h4 {
            color: var(--secondary-color);
        }
    
        h1 {
            margin: 12px 0 40px;
            max-width: 40vw;
        }
    }

    video {
        height: fit-content;
        width: 76vw;
    }

    .volume-btn {
        position: absolute;
        bottom: 100px;
        right: 15%;
        height: 60px;
        width: 60px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: 2px solid white;
        background-color: transparent;

        .icon {
            font-size: 3.2rem;
            color: white;
        }
    }
}


.banner2 {
    padding: 12vh 12vw;
    background-color: rgba($color: #febebe, $alpha: 0.5);

    h2 {
        margin-bottom: 8vh;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;

            .content {
                margin-left: 20px;
                min-width: 200px;
                max-width: 270px;

                h4 {
                    font-size: 1.8rem;
                    margin-bottom: 4px;
                }

                span {
                    font-weight: 300;
                }
            }
        }
    }
}

.banner3 {
    width: 100vw;
    padding: 24vh 19vw;
    background-color: var(--primary-color);

    h4 {
        display: flex;
        align-items: center;
        color: white;
        font-weight: 500;
        font-size: 1.5rem;

        svg {
            margin-right: 8px;
        }
    }

    h3 {
        color: white;
        margin-top: 20px;
        font-size: 3.8rem;
        line-height: 5.8rem;
    }

    p {
        color: white;
        font-size: 3.6rem;
        line-height: 4.5rem;
        max-width: 92%;
    }
}

.banner4 {
    margin: 12vh 12vw;
    padding: 40px 60px;
    background-color: rgba($color: #febebe, $alpha: 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;

    .right {
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 600;
            padding-bottom: 4vh;
        }

        .fundraiser-btn {
            background-color: var(--primary-color);
            color: white;
            font-weight: 600;
            width: fit-content;
            padding: 16px 32px;
            border-radius: 30px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {
    
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .main-banner {
        height: 42vh;
    
        .desc {
            top: 40%;
    
            h1 {
                font-size: 4.5rem;
                line-height: 5rem;
            }
    
            
        }
    }

    .banner1 {
        padding: 0 2vw 6vh;

        .heading {
            h1 {
                max-width: 80vw;
            }
        }

        video {
            width: 96vw;
        }

        .volume-btn {
            right: 5%;
        }
    }

    .banner2 {
        padding: 8vh 4vw;

        h2 {
            margin-bottom: 4vh;
        }

        ul {
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 2vh 0;
            }
        }
    }

    .banner3 {
        padding: 20vh 4vw;

        h4 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 4rem;
        }

        p {
            font-size: 2.8rem;
            max-width: 100%;
        }
    }

    .banner4 {
        margin: 4vh 2vw;
        padding: 40px 40px;
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .banner1 {
        padding: 6vh 5vw ;

        .heading {
            h1 {
                max-width: 80vw;
            }
        }

        video {
            width: 90vw;
        }

        .volume-btn {
            bottom: 12%;
            right: 8%;
            height: 40px;
            width: 40px;

            .icon {
                font-size: 2.5rem;
            }
        }
    }

    .banner2 {
        padding: 8vh 5vw;

        h2 {
            font-size: 2.8rem;
            line-height: 3.5rem;
            margin-bottom: 5vh;
        }

        ul {
            flex-direction: column;
            align-items: flex-start;

            li {
                padding: 4vh 0;
            }
        }
    }

    .banner3 {
        padding: 12vh 5vw;

        h4 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 3.5rem;
        }

        p {
            font-size: 2.5rem;
            max-width: 100%;
        }
    }

    .banner4 {
        margin: 8vh 5vw;
        padding: 40px 20px;
        flex-direction: column-reverse;

        .right {
            padding-top: 4vh;
            align-items: center;

            h1 {
                text-align: center;
                font-size: 3.6rem;
            }
        }

    }
}
