.option {
    font-size: 1.6rem;
    line-height: 1.8rem;
    cursor: pointer;
    margin-top: 1.2vh;
    transition: margin-left linear 0.1s;
    user-select: none;

    &:hover {
        margin-left: 8px;
    }
}

.discover {
    display: flex;
    flex-direction: column;
    position: relative;

    .filter-projects {
        display: flex;
        justify-content: space-between;
        padding: calc(var(--navbar-height) + 4vh) 0 0;

        .filter-btn {
            display: none;
        }

        .filter {
            display: flex;
            width: 14vw;
            flex-direction: column;
            margin: 4vh 3vw 0 4vw;
            height: calc(100vh - var(--navbar-height) - 8vh);
            overflow-y: scroll;
            position: fixed;
            top: calc(var(--navbar-height) + 4vh);

            .close-btn {
                display: none;
            }

            .all {
                margin-top: 0vh;
                @extend .option;
            }

            .active {
                color: var(--primary-color);
                font-weight: 600;
            }

            span {
                font-size: 2.4rem;
                font-weight: 600;
                margin: 3vh 0 0;
                padding: 1vh 0 1.5vh;
                user-select: none;
            }

            .title {
                padding-top: 4vh;
                border-top: 1px solid #ccc;
            }
            
            .selection {
                padding: 0 0 3vh;
                border-bottom: 1px solid #ccc;

                .option {
                    @extend .option;
                }

                .active {
                    color: var(--primary-color);
                }
            }

            .price {
                padding: 1.5vh 0 2.5vh;
            }

            .price-container {
                padding-bottom: 4vh;
                border-bottom: 1px solid #ccc;
                
                .slider {
                    -webkit-appearance: none; 
                    appearance: none;
                    width: 90%;
                    height: 3px; 
                    background: #d3d3d3; 
                    border-radius: 4px;
                    margin-top: 1vh;
                    margin-left: 5%;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none; 
                        appearance: none;
                        width: 16px; 
                        height: 16px; 
                        border-radius: 20px;
                        background: var(--primary-color); 
                        cursor: pointer;
                    }
                  
                    .slider::-moz-range-thumb {
                        width: 16px; 
                        height: 16px; 
                        background: var(--primary-color); 
                        cursor: pointer;
                    }
                }
            }

            .sort-project {
                padding-bottom: 4vh;

                .sort {
                    display: block;
                }

                .option {
                    @extend .option;
                }

                .active {
                    color: var(--primary-color);
                }

                .default {
                    color: white;
                    margin-top: 8vh;
                    font-weight: 500;
                    font-size: 1.8rem;
                    text-align: center;
                    padding: 1vh 0;
                    border-radius: 20px;
                    border: 4px solid var(--secondary-color);
                    background-color: var(--primary-color);

                    &:hover {
                        margin-left: 0;
                        color: var(--text-color);
                        background-color: var(--primary-color);
                    }
                }
            }
        }
        
        .projects-wrapper {
            width: 75vw;
            padding-left: 0vw;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: calc(var(--navbar-height) + 4vh);
            // overflow-y: scroll;

            .project-list {
                display: flex;
                flex-wrap: wrap;

                li {
                //     max-width: 320px;
                //     // flex: 1;
                //     min-width: 280px;
                    margin: 4vh 0;
                    padding: 0 1vw;
                }
            }
    
            .end {
                font-size: 2.4rem;
                text-align: center;
                padding: 5vh 0;
            }
        }
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {
    .discover {
        .filter-projects {
            padding: calc(var(--navbar-height) + 3vh) 0 1vh;

            .filter-btn {
                display: flex;
                align-items: center;
                color: white;
                font-weight: 500;
                background-color: var(--primary-color);
                border: none;
                padding: 4px 12px;
                border-radius: 20px;
                margin-left: auto;

                .icon {
                    font-size: 1.4rem;
                    margin-left: 6px;
                }
            }

            .filter {
                top: -100vh;
                height: 100vh;
                width: 100vw;
                background-color: white;
                margin: 0;
                z-index: 100;
                padding: 2vh 2vw;

                &--show {
                    top: 0;
                    animation: filterSlideIn linear 0.3s;
                }

                .close-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 4vh;

                    .heading {
                        font-size: 7vw;
                        line-height: 8vw;
                        font-weight: 600;
                    }

                    .icon {
                        font-size: 5vw;
                    }
                }

                .all {
                    &:hover {
                        margin-left: 0;
                    }
                }

                .selection {
                    .option {
                        &:hover {
                            margin-left: 0;
                        }
                    }
                }

                .sort-project {
                    .option {
                        &:hover {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .discover {
        .filter-projects {
            .filter-btn {
                margin-right: 7.5vw;
            }

            .projects-wrapper {
                width: 94vw;
            }
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .discover {
        .filter-projects {
            .filter-btn {
                margin-right: 7.5vw;
                margin-bottom: 4vh;
            }

            .projects-wrapper {
                margin-top: 4vh;
                width: 100vw;

                .project-list {
                    justify-content: center;
                }
            }
        }
    }

}

@keyframes filterSlideIn {
    from {
        // opacity: 0;
        top: calc(100vh / 0.5);
    }
    to {
        // opacity: 1;
        top: 0;
    }
}