.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6vh 2vw 6vh 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        width: 36px;
        height: 36px;
        padding-top: 0.4vh;
        margin-right: 1vw;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        border: 2px solid #ccc;
        color: var(--text-color);

        button {
            height: 30px;
            font-size: 1.5rem;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: transparent;
            margin-bottom: 0.2vh;

            &:disabled {
                color: #ccc;
            }
        }
    }

    .active {
        color: darkorange;
        font-weight: 500;
        border-color: darkorange;
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .pagination {
        li {
            padding-top: 0.3vh;
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {}