.footer {
    width: 100vw;
    border-top: 1px solid #ccc;
    user-select: none;
    
    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8vh 12vw;

        ul {
            li {
                cursor: pointer;
                padding: 8px;
                border-radius: 5px;
                font-weight: 300;
                min-width: 250px;
    
                &:hover {
                    background-color: #f8f8f8;
                }
            }
    
            .title {
                font-weight: 600;
                cursor: default;
                padding-top: 0;
    
                &:hover {
                    background-color: transparent;
                }
            }
    
        }
    
        .logo {
            min-width: 300px;
    
            a {
                font-size: 2.8rem;
                line-height: 2.8rem;
                font-weight: 700;
                color: var(--primary-color);
                width: fit-content;
            }
        }
    }
    
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8vh 12vw;
        border-top: 1px solid #ccc;

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .language-btn {
                display: flex;
                align-items: center;
                border-radius: 7px;
                border-width: 1px;
                padding: 4px 8px;
                font-weight: 300;

                .flag-img {
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    object-fit: cover;
                    margin-right: 4px;
                }

                span {
                    margin: 0 4px 8px;
                }
            }

            .content {
                display: flex;
                align-items: center;
                margin-top: 12px;

                .copyright {
                    margin-right: 25px;
                }

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        padding: 8px;
                        margin-left: 16px;
                        border-radius: 20px;

                        &:hover {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
        }

        .left {
            .logo-container {
                display: flex;
                align-items: center;

                .icon { 
                    font-size: 2rem;
                    margin-right: 20px;
                }
            }

            .download {
                margin-top: 20px;

                img {
                    height: 30px;

                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {
    .footer {
        
    }
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .footer {
        .top {
            padding: 4vh 2vw;
            
            .logo {
                min-width: unset;

                a {
                    font-size: 2.4rem;
                }
            }

            ul {
                li {
                    min-width: unset;
                }
            }
        }

        .bottom {
            padding: 4vh 2vw;

            .right {
                .language-btn {
                    background-color: transparent;
                }

                .content {
                    flex-direction: column;
                    align-items: flex-start;

                    ul {
                        li {
                            padding: 4px 0;

                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media (max-width: 46.1875em) {
    .footer {
        .top {
            padding: 6vh 5vw;
            flex-direction: column;

            ul {
                li {
                    padding: 8px 0;
                }

                .title {
                    padding-top: 28px;
                }
            }
        }

        .bottom {
            padding: 6vh 2vw;
            flex-direction: column;

            .right {
                align-items: center;

                .content {
                    flex-direction: column;

                    .copyright {
                        margin-right: 0;
                        margin-top: 20px;
                    }

                    ul {
                        li {
                            margin-left: 0;
                            font-size: 1.4rem;
                            padding: 12px 8px;
                        }
                    }
                }
            }

            .left {
                .logo-container {
                    margin-top: 30px;
                    
                    .icon {
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
