.footer {
    width: 100vw;
    border-top: 1px solid #ccc;
    user-select: none;
    
    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8vh 12vw;

        ul {
            li {
                cursor: pointer;
                padding: 8px;
                border-radius: 5px;
                font-weight: 300;
                min-width: 250px;
    
                &:hover {
                    background-color: #f8f8f8;
                }
            }
    
            .title {
                font-weight: 600;
                cursor: default;
                padding-top: 0;
    
                &:hover {
                    background-color: transparent;
                }
            }
    
        }
    
        .logo {
            min-width: 300px;
    
            a {
                font-size: 2.8rem;
                line-height: 2.8rem;
                font-weight: 700;
                color: var(--primary-color);
                width: fit-content;
            }
        }
    }
    
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8vh 12vw;
        border-top: 1px solid #ccc;

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .language-btn {
                display: flex;
                align-items: center;
                border-radius: 7px;
                border-width: 1px;
                padding: 4px 8px;
                font-weight: 300;

                .flag-img {
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    object-fit: cover;
                    margin-right: 4px;
                }

                span {
                    margin: 0 4px 8px;
                }
            }

            .content {
                display: flex;
                align-items: center;
                margin-top: 12px;

                .copyright {
                    margin-right: 25px;
                }

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        padding: 8px;
                        margin-left: 16px;
                        border-radius: 20px;

                        &:hover {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
        }

        .left {
            .logo-container {
                display: flex;
                align-items: center;

                .icon { 
                    font-size: 2rem;
                    margin-right: 20px;
                }
            }

            .download {
                margin-top: 20px;

                img {
                    height: 30px;

                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}