.box-in-sidebar {
    border-radius: 20px;
    box-shadow: 0 0.3125rem 1rem -0.1875rem rgb(0 0 0 / 20%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;

    .project-heading {
        text-align: center;
        padding: calc(var(--navbar-height) + 8vh) 0 8vh;
    
        .overview {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .category {
                color: var(--secondary-color);
                padding-right: 16px;
                border-right: 2px solid #ccc;
            }

            .id {
                color: var(--secondary-color);
                padding-left: 16px;
            }
        }

        .name {
            margin: 20px 0;
        }

        .fundraiser {
            font-size: 1.8rem;
            line-height: 1.8rem;

            a {
                color: var(--text-color);
                font-weight: 600;
            }
        }
    }

    .project-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 12vw 16vh;

        .content {
            width: 53vw;

            img {
                width: 53vw;
                max-height: 80vh;
                border-radius: 12px;
                outline: 2px solid #ccc;
                object-fit: contain;
                -webkit-user-drag: none;
                background-color: #f8f8f8;
            }

            h3 {
                margin-top: 40px;
                font-size: 2.5rem;
            }

            .desc {
                padding: 12px 0 100px;
                line-height: 2.5rem;
            }

            .fundraising-by {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--secondary-color);
                border-radius: 20px;
                border: 5px solid #febebe;
                user-select: none;

                .user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    text-align: center;

                    &:hover h4 {
                        text-decoration: underline;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        object-fit: cover;
                        -webkit-user-drag: none;
                        margin-top: -50px;
                        outline: none;
                        z-index: 2;
                        background-color: black;
                    }
    
                    h4 {
                        color: black;
                        font-size: 2.3rem;
                        line-height: 2.5rem;
                        margin: 24px 0 20px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }


                .bio {
                    margin-bottom: 70px;
                    color: black;
                }
            }
        }

        .sidebar {
            width: 20vw;
            position: sticky;
            top: calc(var(--navbar-height) + 6vh);

            .amount {
                @extend .box-in-sidebar;
                
                div {
                    margin-bottom: 12px;
    
                    .current-price {
                        font-size: 2.4rem;
                        font-weight: 600;
                    }
        
                    .target-price {
                        font-size: 1.4rem;
                        color: gray;
                    }
                }
    
                progress[value] {
                    -webkit-appearance: none;
                    appearance: none;
                    border-radius: 20px;
                    width: 100%;
                    height: 8px;
                }
    
                progress[value]::-webkit-progress-bar {
                    background-color: #febebe;
                    border-radius: 20px;
                }
    
                progress[value]::-webkit-progress-value {
                    background-color: var(--primary-color);
                    border-radius: 20px;
                }
    
                .count {
                    display: flex;
                    justify-content: space-between;
                    margin: 12px 0 20px;
    
                    .donations, .to-go {
                        font-size: 1.4rem;
                        color: gray;
    
                        b {
                            color: var(--text-color);
                        }
                    }
                }
    
                .donate-btn {
                    line-height: 1.6rem;
                    user-select: none;
                    padding: 8px 0;
                    color: black;
                    background-color: var(--primary-color);
                    border-radius: 20px;
                    border: 4px solid var(--secondary-color);
                    cursor: pointer;
                    font-weight: 500;
    
                    &:hover {
                        color: var(--text-color);
                        background-color: white;
                    }
                }
    
                .disable {
                    cursor: default;
                    border-color: transparent;
                    color: var(--text-color);
                    background-color: #ccc;
                    user-select: none;
                    outline: none;
    
                    &:hover {
                        background-color: #ccc;
                    }
                }
            }

            .related {
                margin-top: 4vh;
                @extend .box-in-sidebar;

                h3 {
                    font-size: 2rem;
                    margin-bottom: 12px;
                    color: black;
                }

                ul {
                    .related-project {
                        display: flex;
                        align-items: center;
                        padding: 12px 0;
                        border-bottom: 1px solid #ccc;

                        &:hover .name {
                            text-decoration: underline;
                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        img {
                            min-width: 45px;
                            max-width: 45px;
                            height: 45px;
                            outline: 2px solid var(--secondary-color);
                            border-radius: 50px;
                            margin-right: 12px;
                            object-fit: cover;
                            -webkit-user-drag: none;
                        }

                        .info {
                            overflow: hidden;
                            
                            .name {
                                font-size: 1.5rem;
                                font-weight: 600;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            div {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .current-price {
                                    font-size: 1.6rem;
                                    font-weight: 600;
                                    color: var(--primary-color);
                                }
                    
                                .target-price {
                                    font-size: 1.3rem;
                                    color: gray;
                                }
                            }
                        }
                    }
                }

                .more {
                    color: black;
                    font-weight: 600;
                    align-self: flex-end;
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    width: 90px;

                    &:hover .icon {
                        display: block;
                    }
                    
                    .icon {
                        color: var(--primary-color);
                        margin-left: 0.2vw;
                        animation: slideIn ease-in 0.4s;
                        display: none;
                    }
                }
            }
        }
    }

    .modal-overlay {
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: black, $alpha: 0.5);
        // animation: fadeIn linear 0.3s;
        z-index: 100;
    }
}

.is-project-edit {
    height: 100vh;
    overflow: hidden;
}