:root {
  --primary-color: #FA7070; // 8B01BB, FA7070
  --secondary-color: #FF9494; // D04BFF, FF9494
  --text-color: #333;

  --navbar-height: 80px;
}

// Tablet & mobile
@media (max-width: 63.9375em) {
  
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  
}

// Mobile
@media (max-width: 46.1875em) {
  :root {
    --navbar-height: 60px;
  }
}



@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-1.2vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
