* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 100% = 16 px => 62.5% = 10px */
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #808080; 
  border-radius: 10px;
}

label {
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  color: var(--text-color);
}

div {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text-color);
}

p {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
  color: var(--text-color);
}

button {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: none;
  }
}

ul, ol {
  list-style: none;
}


