.confirm-modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 130;
    border-radius: 10px;
    background-color: white;

    h5 {
        font-size: 2.5rem;
    }

    .btn-container {
        display: flex;
        align-items: center;
        margin-top: 40px;

        .cancel-btn {
            background-color: black;
            color: white;
            border: none;
            padding: 4px 12px;
            border-radius: 5px;
            margin-right: 12px;
            cursor: pointer;
        }

        .confirm-btn {
            background-color: var(--primary-color);
            border: none;
            padding: 4px 12px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


// Tablet & mobile
@media (max-width: 63.9375em) {
    
}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

// Mobile
@media (max-width: 46.1875em) {
    .confirm-modal {
        padding: 60px 20px;

        .btn-container {
            .confirm-btn, .cancel-btn {
                padding: 8px 16px;
            }
        }
    }
}